@import "../../styles/mixins";

section.about {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include Hero();

  .title {
    position: relative;
    width: 50%;
    h1 {
      position: absolute;
      top: 120px;
      left: -60px;
    }
  }

  .content {
    text-align: left;
    width: 45%;
    sub {
      text-transform: uppercase;
    }
    .secTitle {
      margin-bottom: 40px;
      h3 {
        font-family: "Oswald";
        text-transform: uppercase;
      }
    }
    .desc {
      p {
        margin-bottom: 30px;
      }
      p.bold {
        font-weight: 500;
      }
    }
  }
}
